<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>INICIAR SESION</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
</head>
<body>

	<h3>INICIAR SESION</h3>

		<input type="text" name="NOMBRE" id="NOMBRE" placeholder="NOMBRE">

		<br><br>

		<input type="text" name="PASSWORD" id="PASSWORD" placeholder="CONSTRASEÑA">

		<br><br>

		<button type="submit" id="boton">
			Confirmar
		</button>

		<br><br>

		<a href="http://localhost:8080/register">
		   <input type="button" value="Register" />
		</a>

</body>
<script>
$('#boton')
.click(function(e){
nombre = document.getElementById('NOMBRE').value;
password = document.getElementById('PASSWORD').value;
var usuario ='{"nombre": "'+nombre+'","password": "'+password+'"}';
$.ajax({
	data: usuario,
	url: 'http://localhost:8000/',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'post',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (res){
		console.log(res);
		window.location.replace('/panel')
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});
});

</script>
</html>
