<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>PANEL PRINCIPAL</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
</head>
<body>

	<h3>PANEL PRINCIPAL</h3>

		<a href="http://localhost:8080/perfil">
		 	<input type="button" value="Perfil Usuario" />
		</a>

		<br><br>

		<a href="http://localhost:8080/wawis">
		   <input type="button" value="Agregar Reptil" />
		</a>

		<br><br>

		<a href="http://localhost:8080/">
		   <input type="button" value="Volver al login (temp)" />
		</a>
</body>
</html>
