<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>PERFIL</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
</head>
<body>

	<h3>PERFIL PERSONA</h3>


	<script>
	/*
	//VERSION CUMA DE COMO MANDAR WEAS POR URL TERRRRIIIBLE CUMA pero funciona.
	$('#boton')
	.click(function(e){
	nombre = document.getElementById('NOMBRE').value;
	password = document.getElementById('PASSWORD').value;
	$.ajax({
		url: 'http://localhost:8000/Signin/User/'+nombre+'/Pass/'+password+'',
		crossDomain: true,
		withCredentials:false,
		type: 'GET',
		beforeSend: function(){
				window.alert("Procesando, espere porfavor...");
		},
		success: function (res){
			console.log(res);
		},
		error: function(){
			alert("Hubo algun tipo de error.");
		}
		});
	});*/
</script>
</body>
</html>
