<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>REPTIL</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
</head>
<body>

	<h3>REPTIL</h3>

		<input type="text" name="NOMBRE" id="NOMBRE" placeholder="NOMBRE">

		<br><br>

		<input type="text" name="TIPO" id="TIPO" placeholder="REPTIL">

		<br><br>

		<input type="text" name="NACIMIENTO" id="NACIMIENTO" placeholder="FECHA NACIMIENTO">

		<br><br>

		<input type="text" name="TEMP_SOL" id="TEMP_SOL_MAX" placeholder="T max zona calor">

		<br><br>

		<input type="text" name="TEMP_SOL_MIN" id="TEMP_SOL_MIN" placeholder="T min zona calor">

		<br><br>

		<input type="text" name="TEMP_MIN" id="TEMP_MIN" placeholder="TEMP MINIMA TERRARIO">

		<br><br>

		<input type="text" name="HUMEDAD_MIN" id="HUMEDAD_MIN" placeholder="HUMEDAD MINIMA">

		<br><br>

		<button type="submit" id="boton">
			Confirmar
		</button>

</body>
<script>
$('#boton')
.click(function(e){
nombre = document.getElementById('NOMBRE').value;
tipo = document.getElementById('TIPO').value;
nacimiento = document.getElementById('NACIMIENTO').value;
temp_sol_max = document.getElementById('TEMP_SOL_MAX').value;
temp_sol_min = document.getElementById('TEMP_SOL_MIN').value;
temp_min = document.getElementById('TEMP_MIN').value;
humedad_min = document.getElementById('HUMEDAD_MIN').value;
var info = '{"nombre": "'+nombre+'", "tipo": "'+tipo+'", "nacimiento": "'+nacimiento+'", "temp_sol_max": "'+temp_sol_max+'", "temp_sol_min": "'+temp_sol_min+'", "temp_min": "'+temp_min+'", "humedad_min": "'+humedad_min+'}';
$.ajax({
	data: info,
	url: 'http://localhost:8000/Perfil/'+BUSCARIDPERSONA+'',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'POST',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (res){
		console.log(res);
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});
});
</script>
</html>
